<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <%= %> 不会解析 html 模板
        使用 <%- %> 解析 html 模板
    -->
    <h3><%= title %></h3>
    koa中模板引擎的使用 <%=name%>
  </body>
</html>
